@mixin flex-center {
  display: flex;
  justify-content: center;
  align-content: center;
}

body {
  background-color: #222;
}

.users-container,
%users-container {
  margin: 0 auto;
  width: 75%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  .user-container {
    @include flex-center;
    flex-direction: column;
    margin: 40px auto;

    img {
      border-radius: 50%;
      width: 100px;
    }
  }
}

.searcher-container {
  text-align: center;
  margin-top:50px;

  .searcher-element {
    border: 0;
    padding: 15px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin: 20px auto 50px; 
    font-size: 1.5em;
  }

  label.searcher-element {
    color: #fff;
  }
}

.user-container-notFound {
  @include flex-center;
  text-align: center;
  width:100%;
}

a,
p {
  margin: 5px;
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-decoration: none;
}
