body { background-color: #222; }

.users-container { margin: 0 auto; width: 75%; text-align: center; display: -ms-grid; display: grid; -ms-grid-columns: (1fr)[4]; grid-template-columns: repeat(4, 1fr); }

.users-container .user-container { display: -ms-flexbox; display: flex; -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: center; align-content: center; -ms-flex-direction: column; flex-direction: column; margin: 40px auto; }

.users-container .user-container img { border-radius: 50%; width: 100px; }

.searcher-container { text-align: center; margin-top: 50px; }

.searcher-container .searcher-element { border: 0; padding: 15px; font-family: "Roboto", sans-serif; text-align: center; margin: 20px auto 50px; font-size: 1.5em; }

.searcher-container label.searcher-element { color: #fff; }

a, p { margin: 5px; font-family: "Roboto", sans-serif; color: #fff; text-decoration: none; }
